*.pdf
build/*
dist/*
*.class
lib/*
nbproject/*
build.xml
manifest.mf
# Package Files #
*.jar
*.war
*.ear

.idea
target
*.iml
/bin/
/build/
.settings
.gradle
.metadata
settings.xml
src/main/java/be/quodlibet/main/Main.java
src/main/resources/font/cour.ttf
src/main/resources/font/Verdana.ttf
src/main/resources/font/verdanab.ttf
